<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-sm-1 sidebar">
                {% block left %} {% end %}
        </div>
        <div class="col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1 main">
            <div class="container-fluid">
                <div id="log" />
                    {% block right %} {% end %}
            </div>
        </div>
    </div>
</div>
    
    <script language="javascript" src="/static/get_connect.js"></script>
    
    {% block scripts %}
    {% end %}
</body>

